[submodule "libopencm3"]
	path = arch/stm32f103/libopencm3
	url = https://github.com/libopencm3/libopencm3
[submodule "drivers/ethernet_enc28j60"]
	path = drivers/ethernet_enc28j60
	url = https://github.com/nort-cnc-control/ethernet_enc28j60
[submodule "kbuild-standalone"]
	path = kbuild-standalone
	url = https://github.com/WangNan0/kbuild-standalone
[submodule "libs/FreeRTOS-Plus-TCP"]
	path = libs/FreeRTOS-Plus-TCP
	url = https://github.com/FreeRTOS/FreeRTOS-Plus-TCP
